<template>
	<template if:true={accountInfo.data}>
		<div class="slds-m-top_medium slds-m-bottom_x-large">
			<lightning-card footer="View More" title={accountInfo.data.name}>
				<lightning-button label="New" slot="actions" onclick={handleClick}></lightning-button>
				<template for:each={accountInfo.data.optys} for:item="opty">
					<div key={accountInfo.data.optys.Id} class="slds-p-around_medium lgc-bg">
						<lightning-tile label={opty.Name} href="/path/to/somewhere">
							<p class="slds-truncate" title="7 Members"><lightning-formatted-number value={opty.Amount} format-style="currency" currency-code="EUR"></lightning-formatted-number></p>
						</lightning-tile>
					</div>				
				</template>
				<p slot="footer">View More</p>
			</lightning-card>
		</div>
	</template>
</template>
